:root{
    --clr-text: hsl(0, 0%, 100%);
}
*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, rgba(115,12,50,1) 5%, rgba(13,12,12,1) 60%);
    min-height: 100vh;
}
section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 60px;
}
.planes-container{
    background: rgba(189,181,181,0.1);
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255,255,255, 0.3);
    border-radius: 25px;
    padding: 30px 0;
    width: min(1200px, 100%);
}
.planes-container > h1 {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin: 20px 0 40px;
}
.swiper{
    width: 80%;
    height: 100%;
    margin-top: 30px;
}
.swiper-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.swiper-scrollbar{
    --swiper-scrollbar-bottom: 0;
    --swiper-scrollbar-drag-bg-color: #dda3b6;
    --swiper-scrollbar-size: 5px;
}
.post{
    max-width: 400px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--clr-text);
    background: rgba(236, 149, 200, 0.2);
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 16px 16px 0;
    margin-bottom: 16px;
}
.post-img{
    width: 100%;
    max-width: 400px;
    object-fit: cover;
    overflow: hidden;
    aspect-ratio: 4/3;
    border-radius: 6px;
    user-select: none;
    pointer-events: none;
}
.post-body{
    display: grid;
    grid-template-columns: 15% 60% 20%;
    align-items: center;
    gap: 8px;
    padding: 15px 0;
    cursor: default;
}
.post-name{
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.post-author{
    width: fit-content;
    font-size: 0.8rem;
    font-weight: 600;
    opacity: 0.6;
    color: var(--clr-text);
}
.post-avatar{
    width: 40px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}
.post-actions{
    position: relative;
}
.post-actions-content{
    position: absolute;
    bottom: 130%;
    right: 0;
    padding: 8px;
    border-radius: 8px;
    background: rgba(172, 172, 172,0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 2 2 10 2 hsl(0, 0%, 0%, 0.25);
    transition: opacity 0.25s, scale 0.25s;
    transform-origin: bottom right;
}
.post-actions-content[data-visible=false]{
    pointer-events: none;
    opacity: 0;
    scale: 0;
}
.post-actions-content[data-visible=true]{
    pointer-events: unset;
    opacity: 1;
    scale: 1;
}
.post-like{
    text-decoration: none;
    color: var(--clr-text);
    margin-right: 5px;
    font-size: 1.1rem;
    opacity: 0.65;
    border-radius: 50%;
    overflow: hidden;
    transition: all 0.35s ease;
}
.post-actions-controller{
    border: 0;
    background: none;
    color: var(--clr-text);
    cursor: pointer;
    opacity: 0.65;
}
.post-like:hover, .post-actions-controller{
    opacity: 1;
}
.post-like:focus{
    outline: none;
}
.post-like.active{
    color: rgb(red);
    opacity: 1;
    transform: scale(1.2);
}
